[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]

[packages]
"baloo" = {path = ".", editable = true}

[dev-packages]
sphinx = "*"
pytest = "*"
numpydoc = "*"
matplotlib = "*"
memory-profiler = "*"
wheel = "*"
twine = "*"
