[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]

[packages]
"-e ." = "*"
"local_pyweld" = {path = "/home/dimebag/Workspace/weldr/weld/python/pyweld", editable = true}
tabulate = "*"

[dev-packages]
sphinx = "*"
pytest = "*"
numpydoc = "*"
matplotlib = "*"
memory-profiler = "*"
